@model Warehouse.ViewModel.Products.ProductGroupViewModel

@{
    ViewBag.Title = "AddItems";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin-form-conteiner box-radius-15">
    <div class="admin-form-item">
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
</div>
